# Dependencies
node_modules/
vendor/

# Laravel
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*

# Nuxt
frontend/.nuxt/
frontend/.output/
frontend/dist/

# Betriebssystem
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
